@import "bootstrap";

.field_with_errors { @extend .has-error; }
.alert-notice { @extend .alert-info; }
.alert-alert { @extend .alert-danger; }

.box{
    margin-top:100px;
    
}
.navbar{
//background-color:lightcyan;
}
.movie .container .row{
    background-color:beige;
    border: 2px solid;
    border-color:aquamarine;
    padding:10px;
    margin:10px;
}

.movie .container .row .btn{
color:white;
//width:70px;
text-align: center;

}

.container .btn {
color:white;
}

.box .container .row  .main{ 
    text-align:center;
}

.box .container .row{
padding:10px;}
